/****************************************************
*
* @File:		style.css
* @Package:		Multipage GetSimple
* @Action:		Multipage theme for GetSimple CMS
*
*****************************************************/
/* General */
body {
  background: #efefef;
  font-size: 1.4em;
  line-height: 1.5em;
}
a:link,
a:visited {
  color: #314e79;
  text-decoration: none;
}
a:link:hover,
a:focus {
  color: #0c131e;
  text-decoration: underline;
}
ul,
ol {
  margin-bottom: 1em;
  margin-left: 17px;
  padding-left: 0;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: lower-roman;
}
ul > li,
ol > li {
  text-align: left;
  text-indent: 0;
}
ul > li {
  list-style: none;
  text-indent: -17px;
}
ol > li {
  padding-left: 0.5em;
}
ul > li:before {
  content: '\2219\00a0';
  font-size: 1.1em;
  line-height: 17px;
}
/* Layout */
.container-fluid {
  max-width: 960px;
}
.sidebar {
  padding-right: 0;
}
/* Top Navigation */
nav {
  min-height: 0;
}
nav .navbar-header {
  padding: 0 1em;
}
nav ul,
nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
nav li {
  display: block;
  float: left;
  margin: 0 0 0 1em;
  text-indent: 0;
}
nav li:before {
  content: '';
}
nav li:first-child {
  margin: 0;
}
nav li a {
  display: block;
  font-size: 0.777em;
  font-weight: normal;
  padding: 12px 7px;
  text-decoration: none;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}
/* Navigation toggle */
#nav-toggle {
  display: none;
}
#nav-toggle + #nav-toggle-label {
  display: none;
}
/* Logo */
.logo {
  display: none;
  height: 126px;
  margin: 0 0 0 -15px;
  border-bottom: 1px solid black;
  padding: 0 7px 0 8px;
  background: white none;
}
.logo a {
  display: block;
  margin: 0 auto;
  font-size: 72px;
  font-variant: small-caps;
  line-height: 120px;
  white-space: nowrap;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}
.logo a:link,
.logo a:visited,
.logo a:link:hover,
.logo a:focus {
  text-decoration: none;
}
.sidebar .logo {
  display: block;
}
/* Sidebar */
/* Sections */
.sidebar .section {
  margin-bottom: 2.2em;
  padding: 0 16px 0 0;
  background: transparent none;
  font-size: 0.777em;
  line-height: 1.25em;
  color: #585858;
}
.sidebar .section h2 {
  margin: 0 -16px 1em -15px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 4px 16px 5px 15px;
  background: #373737 none;
  background: -moz-linear-gradient(top, #444444 0%, #2b2b2b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #2b2b2b));
  font-size: 1.5em;
  line-height: 1.25em;
  color: #ffffff;
  text-transform: uppercase;
}
.sidebar .section h2.highlight {
  background: #314e79 none;
  background: -moz-linear-gradient(top, #385a8b 0%, #2a4267 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #385a8b), color-stop(100%, #2a4267));
}
.sidebar .section a:link,
.sidebar .section a:visited,
.sidebar .section a:link:hover,
.sidebar .section a:focus {
  text-decoration: none;
}
.sidebar .section p {
  margin-bottom: 1em;
}
/* Section Parent */
.sidebar .parent {
  margin: 0 0 0 -15px;
  border-top: 1px solid white;
  border-bottom: 1px solid #cccccc;
  padding: 5px 7px;
  font-size: 0.777em;
  overflow: hidden;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
}
.sidebar .parent a:link,
.sidebar .parent a:visited {
  color: #314e79;
  text-decoration: none;
}
.sidebar .parent a:link:hover,
.sidebar .parent a:focus {
  color: #0c131e;
  text-decoration: none;
}
/* Section Children (Content) */
.sidebar .children > ul,
.sidebar .children > ol {
  margin-left: 0;
}
.sidebar .children li {
  padding: 0.42em 16px 0.42em 0;
  text-indent: 0;
}
.sidebar .children li:before {
  content: '';
}
.sidebar .children a {
  margin-top: 0;
  color: #314e79;
  font-size: 1.25em;
  line-height: 1.25em;
}
.sidebar .children .private:after {
  content: '\00a0*';
  color: red;
}
/* Content */
#main-container {
  border-bottom: 1px solid #cccccc;
  background: white none;
}
#main-container .content {
  -moz-box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.1);
}
/* Article */
article {
  min-height: 640px;
  padding: 25px;
  color: #333333;
}
article > .page-header {
  margin-top: 0;
}
article > .page-toc {
  display: none;
  float: right;
  width: 33%;
  margin: 20px 0 20px 20px;
  border-left: 1px solid #eeeeee;
  padding: 0 0 10px 20px;
}
article > .page-toc > h3:first-child {
  text-transform: capitalize;
  font-variant: small-caps;
}
article > .page-toc li:before {
  content: '';
}
article > .page-content {
  padding-bottom: 1em;
}
article > div,
article > h2,
article > h3,
article > blockquote {
  padding: 1em 0 0 0;
}
article blockquote {
  font-size: inherit;
}
article p,
article pre {
  margin: 0 0 1.75em 0;
}
article h1 {
  color: #314e79;
}
article.private h1:first-child:after {
  content: '\00a0*';
  color: red;
}
/* Article Footer */
article .footer {
  display: none;
}
/* Footer */
footer {
  padding: 10px 0;
  color: #777777;
  font-size: 0.777em;
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.84);
}
footer a:link,
footer a:visited {
  color: #373737;
}
footer a:link:hover,
footer a:focus {
  color: #000000;
}
/* Responsiveness */
/* Small */
@media (max-width: 991px) {
  html {
    font-size: 15px;
  }
  nav .navbar-header {
    padding: 0;
  }
  .logo {
    display: block;
    margin: 0 0 0 0;
  }
  .sidebar .logo {
    display: none;
  }
  article {
    min-height: 0;
    padding: 0;
  }
  article > .page-toc {
    float: none;
    width: 100%;
    margin: 40px 0 0 0;
    border-left: none;
    padding-left: 0;
  }
  footer .credits-theme {
    text-align: left;
  }
}
/* Small screens */
@media screen and (max-width: 991px) {
  #nav-toggle + #nav-toggle-label {
    display: block;
    position: fixed;
    z-index: 1111;
    left: 0%;
    top: 0;
    padding: 18px 20px;
    cursor: pointer;
    transition: all 0.777s;
    -o-transition: all 0.777s;
    -ms-transition: all 0.777s;
    -moz-transition: all 0.777s;
    -webkit-transition: all 0.777s;
  }
  #nav-toggle:checked + #nav-toggle-label {
    left: 100%;
    margin-left: -62px;
  }
  #nav-toggle + #nav-toggle-label .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin: 4px 0;
    border-radius: 1.5px;
    background: #314e79 none;
  }
  #nav-toggle + #nav-toggle-label .icon-bar:hover {
    background: #0c131e;
  }
  #nav-toggle ~ .sidebar {
    position: fixed;
    z-index: 1100;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: 58px;
    background: white none;
    transition: all 0.777s;
    -o-transition: all 0.777s;
    -ms-transition: all 0.777s;
    -moz-transition: all 0.777s;
    -webkit-transition: all 0.777s;
  }
  #nav-toggle:checked ~ .sidebar {
    left: 0%;
  }
  #nav-toggle ~ .sidebar .logo {
    display: block;
    position: fixed;
    z-index: 1101;
    left: -100%;
    top: 0;
    width: 100%;
    height: 58px;
    transition: all 0.777s;
    -o-transition: all 0.777s;
    -ms-transition: all 0.777s;
    -moz-transition: all 0.777s;
    -webkit-transition: all 0.777s;
  }
  #nav-toggle:checked ~ .sidebar .logo {
    left: 0%;
  }
  #nav-toggle ~ .sidebar .logo a {
    font-size: 36px;
    line-height: 58px;
  }
}
/* Medium */
@media (min-width: 992px) {
  /* Layout */
  .row-md-full-height {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
  }
  .col-md-full-height {
    display: table-cell;
    float: none !important;
    height: 100%;
    vertical-align: top;
  }
}
